body {
    padding-top: 56px;
}

.navbar {
    margin-bottom: 0;
}

.bg-lavender {
    background-color: #E6E6FA !important;
}

.bg-pink {
    background-color: #FDB9C8 !important;
}

.bg-light-pink {
    background-color: #FEDFE6 !important;
}

.bg-lighter-pink {
    background-color: #FEF4F6 !important;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #dffef0;
    border-color: #dffef0;
    color: #212529;
}

.btn-primary:hover {
    background-color: #afcdbf;
    border-color: #a5c3b5;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    background-color: #88a6cd;
    border-color: #88a6cd;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #7492b9;
    border-color: #6483aa;
}

.mb-2-5 {
    margin-bottom: 0.6rem !important;
}

.vl {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    height: auto;
}