{% extends "base.html" %}
{% block content %}

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-2">New {{ post }}</h1>

            <hr>
            <!-- Post Content -->
            <form method="post">
                <div class="form-group">
                    <!-- Title -->
                    <label for="title">Title</label>
                    <input type="text" class="form-control form-control-lg mb-2" id="title" name="title" required>
                    <!-- Subtitle -->
                    <label for="subtitle">Subtitle</label>
                    <input type="text" class="form-control form-control-sm" id="subtitle" name="subtitle">
                    <small id="subtitleHelp" class="form-text text-muted">This field is optional</small>
                </div>

                <hr>

                <div class="form-group">
                    <!-- Author -->
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" name="author" value="Yabby" required>
                </div>

                <hr>

                <div class="form-group">
                    <textarea class="form-control" id="content" name="content" rows="20" required></textarea>
                </div>

                <div class="form-group text-center">
                    <!-- Featured check -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="featured" name="featured">
                        <label for="featured" class="custom-control-label">Feature this post?</label>
                    </div>
                </div>

                <div class="form-group text-center">
                    <!-- Submit new post button -->
                    <button class="btn btn-secondary px-4 my-1" type="submit">Post {{ post }}</button>
                </div>
            </form>
        </div>

        <hr>
{# include 'sidebar.html' #}
    </div>

{% endblock %}